.logoFortnite{
    max-width:  100pxe;
}

.titol-titol {
    text-align: center;

}

.subtitol-titol {
    text-align: center;

}

.idUsuari{
    text-align: center;
}

input{
    width: 700px;
    height: 40px;
}
